.landing_content { 
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    
}
.taglines_cont, .component_img_cont{ 
    margin: 0px 25px;
}
.taglines_cont { 
    width: 750px;
}
.content1 {
    width: 850px;
    text-justify: center;
    margin-left: 55px;
    border-radius: 20px;
}
.phrase1 , .phrase2 { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content1 h1 { 
    font-size: 35pt;
    text-align: center;
}
.content1 p {
    font-size: 13pt;
    text-align: center;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 50px 0;
    width: 1080px;
}
.actionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
}
.content2 button:hover {
    cursor: pointer;

    box-shadow: 6px 3px 22px -9px rgba(250,33,77,0.75);
    -webkit-box-shadow: 6px 3px 22px -9px rgba(250,33,77,0.75);
    -moz-box-shadow: 6px 3px 22px -9px rgba(250,33,77,0.75);
}
.action1 {
    background-color: #fa214d;
    color: var(--color-dominant);
    border: none;
    width: 150px;
    height: 30px;
    font-size: 11pt;
    
}
.action2 {
    border:1px solid var(--color-accent1);
    color: var(--color-secondary);
    background: none;
    width: 150px;
    height: 30px;
    font-size: 11pt;
}
.component_img { 
    width: 650px;
    /* outline: auto; */
}