.nav_links {
    width: 150px;

}
.links {
   
    display: flex;
    background-color: var(--color-accent2);
    justify-content: center;
    align-items: center;
    height: 45px;
    text-decoration: none;
    color: var(--color-secondary);
    margin: 10px 0px;
    color: var(--color-dominant);
}
