.nav_content {
    outline: var(--outline);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 1px 4px 5px -4px rgba(0,0,0,0.57);
-webkit-box-shadow: 1px 4px 5px -4px rgba(0,0,0,0.57);
-moz-box-shadow: 1px 4px 5px -4px rgba(0,0,0,0.57);
/* outline: auto; */
}
.logo_cont , .links_cont {
    margin: 0 25px;
    
}
.logo {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 550px;

    margin: 0;
    padding: 0;
}
.link_list{
    list-style: none;
}
.link {
    margin: 0 25px;
    text-decoration: none;
    color: var(--color-secondary)
}
.link_options{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}
.bar1,.bar2,.bar3 {
    width: 25px;
    height: 3px;
    background-color: var(--color-accent1);
    margin: 1.5px 0px;
}
.nav_router { 
    margin-top: 45px;
}