:root { 
  --mainFont: 'Jost',sans-serif;
  --secondaryFont: 'Teachers',sans-serif;

  --color-dominant: #d6fffd;
  --color-secondary: #041119;
  --color-accent1: #fa204a;
  --color-accent2: #211ef1;
  --outline: .5px solid #f03bbd;
}
.container {
  width: min(1080px,95%);
  margin: 0 auto;
}
body {
  margin: 0;
  background-color: var(--color-dominant);
  font-family: var(--mainFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


