:root { 
  --mainFont: 'Jost',sans-serif;
  --secondaryFont: 'Teachers',sans-serif;

  --color-dominant: #fefefe;
  --color-secondary: #2a272c;
  --color-accent1: #fa204a;
  --color-accent2: #211ef1;
  --outline: .5px solid #f03bbd;
}
.container {
  width: min(1080px,95%);
  margin: 0 auto;
}
body {
  margin: 0;
  background-color: var(--color-dominant);
  font-family: var(--mainFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#ad-banner {
  margin: 45px 25px 0 25px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}
